* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.pre-nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(61, 61, 61);
  height: 35px;
}

.contact {
  display: flex;
  column-gap: 30px;
}

.contact div {
  gap: 15px;
}

.email,
.phone {
  display: flex;
}

.email p,
.phone p {
  color: white;
}

.email i,
.phone i {
  color: rgb(232, 108, 86);
}

.icons-links {
  display: flex;
  align-items: center;
  column-gap: 10px;
  color: rgb(176, 176, 176);
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: antiquewhite;
  height: 60px;
}

.logo h2 {
  border-left: 5px solid rgb(232, 108, 86);
  padding-left: 5px;
  color: rgb(66, 66, 66);
}

.links {
  display: flex;
  gap: 20px;
}

.links a {
  text-decoration: none;
  color: rgb(84, 84, 84);
  font-size: 14px;
  transition: 0.3s;
}

.links a:hover {
  color: rgb(232, 108, 86);
}

.home {
  color: rgb(232, 108, 86) !important;
}

#dropdown {
  display: flex;
  gap: 5px;
  align-items: center;
}

#dropdown i {
  color: rgb(84, 84, 84);
  font-size: 8px;
}
