* {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.breadcrumbs {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    background-color: #ebebeb;
    align-items: center;
    padding: 2vh 50vw 2vh 0;
}

.root {
    display: flex;
    gap: 0.5vw;
}

.root a {
    color: #e96b56;
    text-decoration: none;
}

.services-section {
    display: flex;
    justify-content: center;
    margin: 10vh 0 5vh 0;
}

.services {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    place-items: center;
    width: 70vw;
    gap: 3vh;
    padding: 0 0 10vh 0;
}

.service {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px rgb(212, 212, 212);
    gap: 2vh;
    padding: 10vh 2vh 10vh 2vh;
}



.service>svg {
    height: 4vh;
    width: 4vh;
    color: white;
    background-color: #e96b56;
    padding: 2vh;
    border-radius: 10px;
    box-shadow: -10px -10px 1px #ffc9bf;
}

.service>p {
    text-align: center;
}

.service:hover {
    background-color: #e96b56;
    color: white;
    transition: 0.3s;
}

.service:hover svg {
    background-color: white;
    color: #e96b56;
    transition: 0.3s;
}

.skills-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vh;
    width: 70vw;
}

.hr-line {
    border-bottom: #e96b56 solid 3px;
    width: 3vw;
}

.skills {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3vh;
}

.skills img {
    width: 100%;
}

.skills-container {
    display: flex;
    justify-content: center;
    padding: 0 0 10vh 0;
}

.skills-right{
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.percentage{
    display: flex;
    justify-content: space-between;
}

.progress{
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

progress{
    width: 100%;
    appearance: none;
}

progress::-webkit-progress-bar {
    background-color: #eee;
}

progress::-webkit-progress-value {
    background-color: #e96b56;
}